<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="favicon" href="images/List.png" type="image/x-icon">
    <!-- custom css -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- title -->
    <title>To Do List</title>

</head>
<body>
    <!-- heading  -->
    <div class="box" id="heading">
        <h1><%= currentDay %> </h1>
    </div>
    
    <div class="box">
        <% for (i=0;i<toDoList.length ; i++){ %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= toDoList[i] %>
                </p>
            </div>
        <% }; %>
    </div>

    <form action="/" method="post" class="box">
        <input type="text" name="list" placeholder="Drop Text Here !">
        <button type="submit">+</button>
    </form>
        
</body>
<footer>
    <!-- footer  -->
    <div class="footer">
        <h3>&copy; RT09 </h3>
    </div>
</footer>
</html>